body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: #666;
}

.back-button {
    font-size: 16px;
    margin-top: 30px;
    border-bottom: 1px solid black;
}

/* Additional styles from index.html */
.title {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.subtitle {
    font-size: 16px;
    color: #666;
}
